<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/static/1.jpg" style="width: 200px">
<h1>手机号列表</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>手机号</th>
        <th>归属地</th>
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.phone }}</td>
            <td>{{ row.city }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

</body>
</html>